/* this style sheet defines the basic style for all W3C pages */
/* you can point to this by adding:

     <LINK rel="Stylesheet" href="/StyleSheets/base">
   in the HEAD of your HTML document */

body {
  font-family: sans-serif;
  color: black;
  background: url(snow.gif) #fee;
  /* text-align:center; */
}

table.highlighted
{
	background:#eeddcc;
	color:#111111;
	valign:top;
	border-color:#004400;
	border-width:thick;
}

P { line-height: 150%; 
	margin-top: 10px;
    margin-bottom: 20px;
  }

P.def { color:red;
    background:white;
    line-height: 150%; 
	 margin-top: 10px;
    margin-bottom: 20px;
  }

li { color:red;
    background:white;
  	margin-top: 5px;
  }

h1 { 
		font: 1.5em helvetica arial; 
		font-weight: bold;
	}

h2 { 
		font: 1.3em helvetica arial; 
		font-weight: bold;
	}
	
h3 { 
		font: 1.2em helvetica arial; 
		font-weight: bold;
	}
	
h4 { 
		font: 1.1em helvetica arial; 
		font-weight: bold;
	}
	

 

a:link, a:active {
  color: #00e;
  background: transparent;
}

a:visited {
  color: #529;
  background: transparent;
}

div.intro {
  margin-left: 5%;
  margin-right: 5%;
  font-style: italic
}

pre {
  font-family: monospace
}

a:link img, a:visited img {
   border-style: none
}

a img {
  color: white;		/* The only way to hide the border in NS 4.x */
}

UL.toc {
  list-style: disc;
  list-style: none;
}

div.issue {
  padding: 0.5em;
  border: none;
  margin-right: 5%;
}

.hideme { display: none }


/* The cool thing here is the line-height which is how
 you can handle line spacining (100% = single spacing, 200%=double spacing 
 
 P {color:red ;
    font-family: arial, helvetica, geneva, sans-serif; 
    line-height: 180%; margin-top: 10px; margin-bottom: 0px;}
*/
